.container{
    width: 100%;
    margin: 15em auto 2em auto;
}
.wrapper{
    width: 95%;
    margin: auto;
    text-align: justify;
    background-color: rgba(var(--primary), 0.7);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
    padding-top: 0em;
    padding-right: 5em;
    padding-bottom: 2em;
    padding-left: 5em;
    border-radius: 20px;
    font-size: 1.3em;
}
.wrapper h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
}
.wrapper a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.wrapper a:hover{
    color: blue;
}

.page_title{
    color: #000;
    background: rgba(var(--primary), 1);
    width: 280px;
    padding: 8px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: auto;
}

.page_title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(var(--green));
    margin: auto;
    border-radius: 2px;
    transform: scaleX(0.5);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.container:hover .page_title::after {
    transform: scaleX(1.5);
}

@media (max-width: 768px) {
    .wrapper{
        padding: 1em;
        font-size: 1em;
    }
    .wrapper h2{
        margin: 0.5em;
    }
}