.container {
    width: 100%;
    margin: 15em auto 2em auto;
}

.wrapper {
    width: 95%;
    margin: auto;
    text-align: justify;
    background-color: rgba(var(--primary), 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0em 5em 2em 5em;
    border-radius: 20px;
    font-size: 1.3em;
}

.page_title{
    color: #000;
    background: rgba(var(--primary), 1);
    width: 280px;
    padding: 8px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}

.page_title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(var(--green));
    margin: auto;
    border-radius: 2px;
    transform: scaleX(0.5);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.container:hover .page_title::after {
    transform: scaleX(1.5);
}

.lab-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.lab-section__image-wrapper {
    background-color: #f9f9f9;
    padding: 2em;
    display: flex;
    gap: 1em;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.lab-section__image {
    max-width: 31%;
    margin: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.lab-section__description {
    font-size: 1.1rem;
    line-height: 1.6;
}
