.container{
    width: 100%;
    margin: 15em auto 2em auto;
    padding: 20px;
    
}

.trustee-section{
    width: 95%;
    margin: auto;
    background-color: rgba(var(--primary), 0.7);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
    padding: 2em 1em;
    border-radius: 20px;
    font-size: 1.2em;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-labels {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #27a588b3;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    justify-content: center;
}

  .tab-labels::-webkit-scrollbar {
    height: 8px;
  }

  .tab-labels::-webkit-scrollbar-thumb {
    background-color: #27a588b3;
    border-radius: 10px;
  }

  .tab-labels label {
    flex: 0 0 auto;
    padding: 10px 20px;
    background: #bcc2c7;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  .tab-labels label:hover {
    background: #d0d9e0;
  }

  input#tab1:checked ~ .tab-labels label[for="tab1"],
  input#tab2:checked ~ .tab-labels label[for="tab2"],
  input#tab3:checked ~ .tab-labels label[for="tab3"],
  input#tab4:checked ~ .tab-labels label[for="tab4"],
  input#tab5:checked ~ .tab-labels label[for="tab5"],
  input#tab6:checked ~ .tab-labels label[for="tab6"],
  input#tab7:checked ~ .tab-labels label[for="tab7"] {
    background-color: rgba(var(--secondary-light), 0.7);;
    color: white;
    font-weight: bold;
  }

  .content {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }

  input#tab1:checked ~ .content #content1,
  input#tab2:checked ~ .content #content2,
  input#tab3:checked ~ .content #content3,
  input#tab4:checked ~ .content #content4,
  input#tab5:checked ~ .content #content5,
  input#tab6:checked ~ .content #content6,
  input#tab7:checked ~ .content #content7 {
    display: flex;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    p{
        font-weight: 500;
    }
    img{
        width: 130px;
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @media (max-width: 600px) {
    .tab-labels label {
      font-size: 14px;
      padding: 8px 14px;
    }
  }