.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    flex-wrap: wrap;
}

/* Shared styles for all footer columns */
.footer__contact,
.footer__social,
.footer__links,
.footer__map {
    max-width: 400px;
    width: fit-content;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.footer a:hover {
    color: #009cc7;
}

.footer h2 {
    margin: 20px;
}

.footer iframe {
    border-radius: 20px;
    text-align: center;
}

/* Footer column content for all columns */
.footer__contact span,
.footer__social span,
.footer__links span,
.footer__map span {
    width: 100%;
    font-size: 1em;
    line-height: 50px;
}

.footer__contact a,
.footer__social a,
.footer__links a,
.footer__map a {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

/* Address styling */
.footer__contact .footer__address {
    line-height: normal;
    margin-top: 20px;
}


/* Footer images */
.footer img {
    height: 40px;
    width: 40px;
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust spacing as needed */
    align-items: center;
    transition: transform 0.5s;
}

.footer__social-icons img:hover {
    transform: scale(1.1);
}

/* Footer credits */
.footer__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    color: #f1f1f1;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.footer__credits .footer__copyright,
.footer__credits .footer__developed-by {
    text-align: center;
}

.footer__credits a {
    color: #00c6ff;
    font-weight: 600;
}

/* Mobile Styles */
@media (min-width: 769px) {
    .footer__credits .footer__copyright {
        text-align: left;
    }
    .footer__credits .footer__developed-by {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .footer__credits {
        flex-direction: column;
    }
}
