
/* =======================================================
   :root Variables
========================================================== */
:root {
	--green-light: 39, 165, 136;
	--green: 21, 92, 79;
	--green-dark: 15, 65, 56;

	--yellow-light: 248, 218, 128;
	--grey-light: 220, 220, 220;
	--grey-dark: 55, 55, 55;

}


.footer {
    width: 100%;
    background: rgba(var(--grey-light), 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

/* Shared styles for all footer columns */
.footer__contact, .footer__links h2, .footer__map h2{
    text-align: left;
}

.footer__contact,
.footer__links,
.footer__map {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
}

.footer__contact,
.footer__map {
    flex: 0 1 33%; /* Take up 33% of the width, don't grow */
}

.footer__links {
    flex: 0 1 25%; /* Slightly smaller, 25% of the width */
}

.footer__links,
.footer__map {
    max-width: 400px;
    width: fit-content;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.footer a:hover {
    color: rgb(var(--green-light));
}


.footer h2 {
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.footer h2::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: rgb(var(--green));
    margin-top: 3px;
    border-radius: 2px;
}


/* Footer column content for all columns */
.footer__contact span,
.footer__links span,
.footer__map span {
    width: 100%;
    font-size: 1em;
    line-height: 50px;
    text-align: left;
}

.footer iframe {
    border-radius: 10px;
    text-align: center;
    border: none;
}


.footer__contact a,
.footer__links a,
.footer__map a {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

/* Address styling */
.footer__contact .footer__address {
    line-height: normal;
    margin-top: 20px;
}


/* Footer images */
.footer img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 10px;
    transition: transform 0.5s;
}

.footer img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}


/* =====SLOGAN===== */
.college_slogan {
    text-align: center;
    color: white;
    position: relative;
    font-weight: bold;
    color: #222;
    font-size: 1em;
    width: fit-content;
    margin: auto auto 1em auto;
    padding-top: 1em
}

.college_slogan::after {
    content: "";
    display: block;
    width: 2em;
    height: 3px;
    background-color: rgb(var(--green));
    margin-top: 3px;
    margin-left: 2em;
    border-radius: 2px;
}

hr.customHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 1em;
}


/* Footer credits */
.footer__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-top: 1px double rgb(255, 255, 255, 0.1);
    color: #000000;
    font-size: 0.9rem;
    flex-wrap: wrap;
    background-color: white;
}

.footer__credits .footer__copyright,
.footer__credits .footer__developed-by {
    text-align: center;
}

.footer__credits a {
    color: rgb(var(--green));
    font-weight: 600;
}


@media (min-width: 769px) {
    .footer__credits .footer__copyright {
        text-align: left;
    }
    .footer__credits .footer__developed-by {
        text-align: right;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .footer__credits {
        flex-direction: column;
    }
    .footer h2{
        text-align: center;
        width: fit-content;
    }
    .footer__title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__contact span,
    .footer__links span,
    .footer__map span {
        text-align: center;
    }

    .socialWrapper {
        margin-right: 0px;
    }
}
