.footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    flex-wrap: wrap;
}
.footer-column {
    max-width: 400px;
    width: 400px;
    text-align: left;
    /* border: 1px solid white; */
}
.map{
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer h2{
    margin: 20px;
}
.footer iframe{
    border-radius: 20px;
    text-align: center;
}
.footer span {
    font-size: 1em; /* Adjust text size */
    line-height: 50px; /* Align with image */
}

.footer-column a{
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.footer img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.footer-column a:last-child span {
    line-height: 1.2; /* Reduce space between lines */
    display: inline-block; /* Keep inline formatting */
    margin-top:20px
}
