*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =======================================================
   :root Variables
========================================================== */
:root {
	--primary-green-light: 39, 165, 136;
	--primary-green: 21, 92, 79;
	--primary-green-dark: 15, 65, 56;
	--primary-yellow: 255, 237, 0;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


/* Remove the '.' to apply background scroll */
.body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.jpg');
  background-repeat: repeat-y;
  /* Repeat vertically */
  background-size: 100% auto;
  /* Width fits screen, height scales */
  background-position: top left;
  background-attachment: scroll;
  /* Background scrolls with content */
}


body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background: rgba(var(--primary-green-light));
}