.lab-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.lab-section__image-wrapper {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
}
.carousel-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.lab-section__image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.lab-section__description {
    font-size: 1.1rem;
    line-height: 1.6;
}
