td:last-child{
    text-align: left;
}
td a{
    margin: auto 0.5em;
    padding: 0;
    background-color: transparent;
    border: none;
    color: blue;

}
td a:hover{
    font-weight: bold;
    margin: auto 0em;
    background-color: transparent;
    border: none;
    color: blue;
}
